___

<a href="https://cdn.ttgtmedia.com/rms/onlineimages/mobile_computing-ab_testing.png"><img align="center" src="https://cdn.ttgtmedia.com/rms/onlineimages/mobile_computing-ab_testing.png" ></a><br/>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">A/B Testing: Data Science Case Study</p>
___

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTENT</p>


* [CONTEXT](#0)
* [ABOUT THE DATASET & ATRIBUTES](#00)
* [INSTRUCTIONS (Tasks in the Assignment)](#000)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#1)
* [Task 01. Checking the head of the DataFrame](#2)
* [Task 02. How many rows and columns are there?](#3)
* [Task 03. What is the average Purchase Price?](#4)
* [Task 04. What were the highest and lowest purchase prices?](#5) 
* [Task 05. Listing the country names and number of records belongs to each country](#6)
* [Task 06. How many records are as Country United Kingdom?](#7)
* [Task 07. Creating a column named Total which shows the total amount of spend using UnitPrice and Quantity](#8)
* [Task 08. Showing total spending amount according to the Countries](#9)
* [Task 09. Which Country spend least?](#10)
* [Task 10. Calculating average of spending according to country with apply function](#11) 
* [Task 11. Calculating average, mean, max of spending according to country with agg function](#12)
* [Task 12. What is the max Total spending in whole dataset and show the records of that spending?](#13)
* [Task 13. How many people who live in Spain spend more than average Total?](#14)
* [Task 14. Converting datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2](#15)
* [Task 15. Taking only date values (year-month-day) from InvoiceDate2 and assign it to a new column named "date"](#16)
* [Task 16. Dropping InvoiceDate2 and InvoiceDate columns permanently](#17)
* [Task 17. Removing A, B, G and E characters at the first 5 rows of "StockCode" in ecom dataframe with a string method](#18) 
* [Task 18. Taking only Total and date columns with loc and craete a new df named ecom2](#19)
* [Task 19. Taking only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3](#20)
* [Task 20. Combining ecom2 and ecom3 with concat() method](#21)
* [Task 21. Combining the common (intersected) values of ecom2 and ecom3 with merge() method](#22)
* [Task 22. Combining ecom2 and ecom3 with join() method](#23)
* [THE END OF THE ASSIGNMENT 02](#24)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTEXT</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

A/B testing, one of the most common control methods, is generally preferred to use optimization in digital and web marketing strategies.

As a result of the important market analyzes of the team members responsible for market research in our team, we reduced the number of alternatives to two, and now we need to make a decision for these two alternative options.

It allows decision makers to choose the best design for a website or service by looking at the analysis results that the Data Science team has done.

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">About The Dataset & Atributes</p>

<a id="00"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Typically web and digital marketing datasets are proprietary and consequently hard to find among publicly available data. However, 
Kaggle which is a platform have open datasets shared by accounts  has made this dataset containing actual transactions. The dataset is on the site (https://www.kaggle.com/datasets/ilkeryildiz/example-dataset-for-ab-test), where it can be found by the title "Example Dataset for A/B Test".

**Attribute Information:**

**``Campaign Name:``** The name of the campaign.<br>
**``Date:``** Date of the record.<br>
**``Spend:``** Amount spent on the campaign in dollars.<br>
**``of Impressions:``** Number of impressions the ad crossed through the campaign.<br>
**``Reach:``** The number of unique impressions received in the ad.<br>
**``of Website Clicks:``** Number of website clicks received through the ads.<br>
**``of Searches:``** Number of users who performed searches on the website .<br>
**``of View Content:``** Number of users who viewed content and products on the website.<br>
**``of Add to Cart:``** Number of users who added products to the cart.<br>
**``of Purchase:``** Number of purchases.<br>

Two campaigns were performed by the company:

   **``1.Control Campaign``**<br>
   **``2.Test Campaign``**

As a result, we will perform A/B testing to find the best campaign for the company to get more customers.

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Instructions</p>

<a id="000"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**In this assignment you're required to handle with the following tasks:** 

- **Task 01.** Checking the head of the DataFrame.<br>
- **Task 02.** How many rows and columns are there?<br>
- **Task 03.** What is the average of Product sold and the average price of Product per unit?<br>
- **Task 04.** What were the highest and lowest purchase prices?<br>
- **Task 05.** Listing the country names and number of their records belongs to each country.<br>
- **Task 06.** How many records are as Country United Kingdom?<br>
- **Task 07.** Creating a column named "Total" which shows the total amount of spend using UnitPrice and Quantity.<br>
- **Task 08.** Showing total spending amount according to the Countries and their percentages.<br>
- **Task 09.** Which Country spend least?<br>
- **Task 10.** Calculating average of spending according to country with apply function  and create a new feature named "Average_Spend".<br>
- **Task 11.** Calculating average, min, max of spending according to country with agg function and create new features named "Max_Spend" and "Min_Spend".<br>
- **Task 12.** What is the max Total spending in whole dataset and show all records of that spending?<br>
- **Task 13.** How many people who live in Spain spend more than average Total?<br>
- **Task 14.** Converting datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2.<br>
- **Task 15.** Taking only date values (year-month-day) from InvoiceDate2 and assign it to a new column named "date".<br>
- **Task 16.** Dropping InvoiceDate2 and InvoiceDate columns permanently.<br>
- **Task 17.** Removing A, B, G and E characters at the first 5 rows of "StockCode" in ecom dataframe with a string method.<br>
- **Task 18.** Taking only Total and date columns with loc and craete a new df named ecom2.<br>
- **Task 19.** Taking only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3.<br>
- **Task 20.** Combining ecom2 and ecom3 with concat() method.<br>
- **Task 21.** Combining the common (intersected) values of ecom2 and ecom3 with merge() method.<br>
- **Task 22.** Combining ecom2 and ecom3 with join() method.<br>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed In The Case Study</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [2]:
# 1-Import Libraies

import numpy as np
import pandas as pd 

import datetime as dt
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as mticker

# Importing plotly and cufflinks in offline mode
import plotly 
import plotly.express as px
#import cufflinks as cf
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
#cf.go_offline()
#cf.set_config_file(offline=False, world_readable=True)

# Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

# Figure&Display options
plt.rcParams["figure.figsize"] = (10,6)
pd.set_option('max_colwidth',200)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
control_data = pd.read_csv("control_group.csv", sep = ";")
test_data = pd.read_csv("test_group.csv", sep = ";")

In [6]:
control_data.head()

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Control Campaign,1.08.2019,2280,82702.000,56930.000,7016.000,2290.000,2159.000,1819.000,618.000
1,Control Campaign,2.08.2019,1757,121040.000,102513.000,8110.000,2033.000,1841.000,1219.000,511.000
2,Control Campaign,3.08.2019,2343,131711.000,110862.000,6508.000,1737.000,1549.000,1134.000,372.000
3,Control Campaign,4.08.2019,1940,72878.000,61235.000,3065.000,1042.000,982.000,1183.000,340.000
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test_data.head()

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

In [8]:
control_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Campaign Name        30 non-null     object
 1   Date                 30 non-null     object
 2   Spend [USD]          30 non-null     int64
 3   # of Impressions     29 non-null     float64
 4   Reach                29 non-null     float64
 5   # of Website Clicks  29 non-null     float64
 6   # of Searches        29 non-null     float64
 7   # of View Content    29 non-null     float64
 8   # of Add to Cart     29 non-null     float64
 9   # of Purchase        29 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.5+ KB

In [10]:
control_data.describe()

,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
count,30.000,29.000,29.000,29.000,29.000,29.000,29.000,29.000
mean,2288.433,109559.759,88844.931,5320.793,2221.310,1943.793,1300.000,522.793
std,367.334,21688.923,21832.350,1757.369,866.089,777.545,407.458,185.029
min,1757.000,71274.000,42859.000,2277.000,1001.000,848.000,442.000,222.000
25%,1945.500,92029.000,74192.000,4085.000,1615.000,1249.000,930.000,372.000
50%,2299.500,113430.000,91579.000,5224.000,2390.000,1984.000,1339.000,501.000
75%,2532.000,121332.000,102479.000,6628.000,2711.000,2421.000,1641.000,670.000
max,3083.000,145248.000,127852.000,8137.000,4891.000,4219.000,1913.000,800.000

In [28]:
control_data.isnull().sum()

Campaign Name          0
Date                   0
Spend [USD]            0
# of Impressions       1
Reach                  1
# of Website Clicks    1
# of Searches          1
# of View Content      1
# of Add to Cart       1
# of Purchase          1
dtype: int64

In [40]:
print(f"Yes, We have missing data, and Let's check columns which have missing data and how many there are.")
control_data.isnull().sum().tail(7)

Yes, We have missing data, and Let's check columns which have missing data and how many there are.

# of Impressions       1
Reach                  1
# of Website Clicks    1
# of Searches          1
# of View Content      1
# of Add to Cart       1
# of Purchase          1
dtype: int64

In [49]:
control_data.columns[0]

'Campaign Name'